<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{server}} status</title>
    
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
      
    <script>
      body {
            padding-top: 50px;
            padding-bottom: 20px;
      }
    </script>
  </head>

  <body>

	<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">{{server}} status</a>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="https://github.com/sckasturi/status">GitHub</a></li>
				<li><a href="http://techfilmer.com">About the maker</a></li>
				
			</ul>
			</div>
	</div>
	</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <br/><h1>Status: If you can read this, it's up!</h1>
        <p>It's hosted on {{server}}, so what do you expect? Duh...</p>
        <p>Uptime: {{uptime.day}} days, {{uptime.hour}} hours, {{uptime.min}} minutes.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Users logged in</h2>
          <p><ul>{% for user in users %}
	      <li>{{ user }}</li>
	  {% endfor %}</ul></p>
        </div>
        <div class="col-md-4">
          <h2>Load Averages</h2>
          <p><ul><li>1 min: {{load["1m"]}}</li><li>5 min: {{load["5m"]}}</li><li>15 min: {{load["15m"]}}</li></ul></p>
       </div>
        <div class="col-md-4">
          <h2>Free Memory</h2>
          <p>{{memory.percent}}% used
	      <br/>
	      Total: {{memory.total}}
	      <br/>
	      Avaliable: {{memory.avaliable}}
          </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Srijay Kasturi 2014</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>

